<ion-header class="ion-no-border">
  <ion-toolbar color=""medium>
    <ion-title>
      <h1>RegistrAPP</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border ion-text-center">
    <ion-toolbar>
      <ion-title size="large">bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-list>

  <ion-item>
    <ion-input label="Nombre" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Apellido" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-select label="Nivel Educacional">
      <ion-select-option value="0">Educacion basica</ion-select-option>
      <ion-select-option value="1">Educacion media</ion-select-option>
      <ion-select-option value="2">Educacion superior</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-select label="fecha nac"></ion-select>
    
  </ion-item>


</ion-list>

</ion-content>